@model TaxMeData.Models.RideRequest 

@{
    ViewBag.Title = "Edit Ride Request";
}

<h1>Edit Ride Request</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.PickupLocation)
        @Html.TextBoxFor(m => m.PickupLocation, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PickupLocation)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DropoffLocation)
        @Html.TextBoxFor(m => m.DropoffLocation, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DropoffLocation)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}